
/*carrusel*/

.titulo_centro_educativo{
    font-family: 'Cinzel', serif;
    /* width: 500px; */
    /* margin: auto; */
    padding-top: 33px;
    text-align: center;
    /* border-bottom: 2px solid; */
    font-size: 21px;
    margin-bottom: 17px;
    font-family: 'Cinzel', serif;

 
   
}

.bloque__carrusel{
    margin: auto;
    background: #f9f9f9;
    width: 1174px;
    padding: 30px;
    border: 1px solid #b2bec3;
    border-radius: 22px;
    box-shadow: 0 0 11px #78909C;
}

.your-class img{
    height: 163px;
    width: 240px;
    padding: 10px;
    margin: 10px;
}
 

.your-class {
    width: 900px;
    margin: 30px auto;  
}


.slick-slide .slick-cloned{
    width: 147px; 
}
.slick-track{
    opacity: 1; 
    width: 2058px; 
    transform: translate3d(-1817px, 0px, 0px);
}

.center .slick-center {
   
    -webkit-transform: scale(1.30);
 
    transform: scale(1.30);
  }

  .slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
   
    /* color: white; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #0c2461;
}


.slick-track{
    opacity: 1;
width: 2058px;
transform: translate3d(-1176px, 0px, 0px);
}


.slick-slide .slick-cloned{
    width: 140px;
}

.slick-track{
    opacity: 1;
    width: 2058px;
    transform: translate3d(-441px, 0px, 0px);
}


/*fin de carrusel*/

.oferta_academica{
    display: table;
}

.preescolar,
.primaria,
.secundaria{
    display: table-cell;
    /* margin-left: 10px; */
    padding-left: 21px;
   
}


.preescolar strong,
.primaria strong,
.secundaria strong{
    
    -webkit-transition-duration: 0.4s;
        /* -webkit-box-shadow: 0 0 11px #78909C; */
        box-shadow: 0 0 11px #78909C;
}
.oferta_academica .titulo_oferta{
    margin-right: 102px;
    /* height: 153px; */
    /* text-align: center; */
    padding: 49px;
    background: #009432;
}


.bloque_academico{
    position: relative;
    width: 850px;
    display: flow-root;
    margin: auto;
    font-family: 'Cinzel', serif; 
}

.oferta_academica{
    top: 19px;
    position: relative;
    left: 109px;

}
.titulo_oferta h2{
    padding: 20px 23px;
    /* width: 156px; */
    /* background: #009432; */
    background: #81C784;
    color: #fff;
    font-weight: 700;
}

.secundaria:hover{
    border-radius: 20px;
 }


.preescolar:hover {
    border-radius: 20px;
}

.primaria:hover{
    border-radius: 20px;
}

.primaria strong,
.preescolar strong,
.secundaria strong {
    border: 3px solid #FFB74D;
    margin: 10px;

}
.secundaria strong{
   padding: 65px 18px;
   
}
.titulo_oferta{
    text-align: center;
}
.menu__editar-oferta{
    position: relative;
    left: 70%;
    color: #17c0eb;
    top: 29px;
}

.menu__editar-oferta a{
    color: #17c0eb;
    text-decoration: none;
}

.titulo_oferta h2{
    color: #fff;
    font-size: 20px;
}

 .preescolar strong,
 .primaria strong {
    padding: 65px 31px;
}


/*fin oferta academica*/
.menu__editar{
    position: relative;
    left: 90%;
    color: #17c0eb;
}


.fat{
    position: relative;
    left: 49px;
    /* width: 20px; */
    font-size: 22px;
    color: #17c0eb;
}

.fat:hover{
    color: #34495e
}
.menu__editar a{
    text-decoration: none;
    color: #17c0eb;
}
.bloque__servicios{
        /* background: #f9f9f9; */
    /* background: #17c0eb; */
    /* box-shadow: 0 0 0 17px #17c0eb; */
    width: 1345px;
    margin: 50px auto;
 
    /* height: 233px; */
    -webkit-box-shadow: 0 0 11px #78909C;
    box-shadow: 0 0 11px #78909C;
    padding: 10px 0px;
}


.bloque__comentarios{
    width: 1345px;
    margin:  auto;
    /*background: #17c0eb;*/
   /* background:  #ffb142;*/
   background: #81C784;
    padding: 20px;
  
}

.bloque__comentarios h2{
       /* color: #17c0eb; */
       font-size: 21px;
       font-weight: 600;
       margin-top: 0px;
       margin-bottom: 10px;
     color:#fff;
     margin-bottom: 51px;
     font-size: 29px;
   
 
}
.titulo__comentarios{
    text-align: center;
   
}
.titulo__servicios{
    text-align: center;
    margin-bottom: 10px;
    /* margin-top: 92px; */

}
.titulo__servicios h2{
    font-size: 29px;
    /* background: red; */
    width: 457px;
    margin: auto;
    /* border-bottom: 2px solid; */
    color: #34495e
}



.faq{
    font-size: 25px;
    color:
    #17c0eb;
}

.faq:hover{
background-color:  #17c0eb;
border-radius: 20px;
padding: 5px;

color: #fff;
}

.servicio span{
    color: #2d3436;
}


.servicio {
    border: 1px solid #2d3436;
    width: 182px;
    box-shadow: 0 0 3px #78909C;
    margin: 8px;
    display: inline-block;
}

.comentario{
    background: #fff;
    width: 237px;
    box-shadow: 7px 8px 11px #78909C;
    bottom: 67px;
    background: #fff;
    position: relative;
    /* top: 20px; */
    left: 130px;
    padding: 20px;
    font-family: 'Cinzel', serif;
    font-size: 13px;
    /* color: #000; */
    font-weight: 800;
    display: inline-block;
    margin: 8px;
}
.tabla__servicios{
    width: 900px;
    margin: auto;
}
.star-rating a {
    display: inline-block;
    color: #95a5a6;
    font-size: 23px;
    text-decoration: none;
  }
  .star-rating:hover a {
    color: #f39c12; /* amarillo (seleccionado) */
  }
    .star-rating:hover a:hover ~ a {
      color: #95a5a6; /* gris (normal) */
    }

    .star-rating a:focus {
        color: #f39c12; 
    }
.servicio:hover{
    box-shadow: 0 0 10px #78909C
}
.ser__cafeteria
{
padding: 20px 32px;
}
.ser__laboratorio {
    padding: 20px 29px;
}

.ser__enfermeria {
padding: 20px 32px;
}

.ser__transporte{
padding: 20px 31px;
}

.ser__transporte,
.ser__deportes,
.ser__biblioteca
{

padding: 20px 30px;
}

.ser__estudio{
width: 187px;
padding: 20px 7px;
}

.ser__musica{
    padding: 20px 40px;
    width: 186px;
}


.tabla__servicios {
    width: 813px;
    margin: auto;

}

/*carrusel noticias*/

.bloque_noticias .slick-initialized .slick-slide {
    display: block;
    border: 1px solid;
    margin: 10px;
    padding: 50px;
    border: 1px solid #2d3436;
  
    box-shadow: 0 0 3px #78909C;

}

.bloque_noticias{
    width: 900px;
    margin: 150px auto;
}




.noticias__uno p{
    text-align: center;
    font-family: 'Cinzel', serif; 
  

<<<<<<< HEAD
}

/*
html, body {
    margin: 0px;
    padding: 0px;
    background: url("http://digital.bnint.com/filelib/s9/photos/white_wood_4500x3000_lo_res.jpg");
}*/

.carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3,
#carousel-4:checked ~ .control-4,
#carousel-5:checked ~ .control-5
 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
=======
>>>>>>> 33e6a9c0d46adc58c6432cfe77dc10076dd2d059
}