/*formulario citas*/
.columna__izquierda-cita{
    background: #dfe6e9;
 
}



.columna__contenedor-izquierdo{
    padding: 0px 49px;
    position: relative;
    /* bottom: -10px; */
    top: 34px;   
}

.formulario-cita label{
    display: inline-block;
    text-transform: capitalize;
    font-size: 21px;
    width: 105px;
}

.formulario-cita input{
    padding: 11px 45px;
    border: 0px;
    border-radius: 4px;
}

.datos{
    margin-bottom: 26px;
}

.controlador{
    position: relative;
    display: inline-block;
}

.controlador .fas{
    position: absolute;
    left: 10px;
    top: 10px;   
}

.columna__derecha-cita{
    background: #81b43e;
    padding: -4rem 1rem 0;
    color: #fff;
    position: relative;
    right: 65px;
    top: 30px;
    box-shadow: 12px 14px 6px #bdc3c7;
    padding: 10px;
}


.columna__contenedor{
    padding-top: 13px;
}


.cita{
    display: table;
    margin: auto;
    width: 100px;
}

.fecha,
.hora 
{
    display: table-cell;
    padding: 0px 27px;
}

.frm__motivo{
    margin: auto;
    width: 350px;
    margin-top: 25px;
}

.cita label, 
.frm__motivo label, 
.informacion label{
    display: block;
    font-size: 20px;
    
}

.cita input{
    padding: 2px 14px;
}

.comentario{
    margin-top: 20px;
}

.comentario textarea{
    height: 150px;
    width: 100%;
   
}

.formulario-boton{
    width: 200px;
    margin: auto;
    padding: 50px;
}

.btn_registrar{
    padding: 10px 39px;
    font-size: 15px;
}


/*fin formulario citas*/


/*formulario registrar actividad*/
.registrar__actividad,
.bloque__principal,
.datos__generales,
.formulario_lista_utiles,
.formulario__articulos

{
    background: #f9f9f9;
}

.registrar__actividad,
.formulario_lista_utiles {  
    width: 600px;
    margin: auto;
    padding: 10px 50px;
}


.contenedor__articulos{
    width: 600px;
    margin: auto;
}

.formulario__articulos{
    padding: 20px;
}

.description__articulo label{
display: block;
font-size: 16px;
}


.formulario_lista_utiles{
    width: 500px;
    margin: auto;
    padding: 27px 73px;
}

.registrar__actividad   label,
.formulario_lista_utiles label{
display: inline-block;
text-transform: capitalize;

}
.formulario_lista_utiles label{
    font-size: 20px;
    width: 140px;
    font-size: 25px;
}

.formulario_lista_utiles input,
.formulario_lista_utiles select{
    padding: 5px 20px;
}

.formulario_lista_utiles select{
    padding: 5px 10px;
}

.registrar__actividad   label{
   
    font-size: 20px;
    width: 240px;
    /* padding-left: 70px; */
    /* padding: 10px; */
    margin: 12px;
}

.registrar__actividad   input{
padding: 5px 20px;
}


.dato__informacion label{
    display: block;
    padding-left: 0px;
    margin-top: 0px; 
       
}

textarea{
    width: 535px;
    height: 150px;
}

/*botones*/
.bloque__boton{
    width: 69px;
    margin: auto;
    padding: 20px;

}


.boton{
    padding: 10px 30px;
    background-color: #ffb142;
    color: #fff;
    border:0px;
    font-size: 15px;
    font-weight: 700;
}
.bloque__boton-utiles{
    width: 160px;
}


.bloque__boton-registrar{
    width: 200px;
}

/*botones*/

/*fin formlaruo regustrar actividad*/

/*estilos resgistrar lista*/
.bloque__principal{
    background-color: #f5f6fa;
    width: 500px;
    margin: auto;
    margin-bottom: 30px;

}

.contenedor__izquierdo{
    padding:  40px;
}

.bloque__principal .form_datos{
    width: 300px;
    margin: auto;
}
.form__datos label{
    display: inline-block;
    width: 100px;
    font-size: 22px;

}

 .form__datos input,
 .form__datos select{
    padding: 5px 8px;
}



.bloque__principal .datos__lista__utiles label:last-child{
margin-bottom: 0px;
}
/*fin de regitrar cita*/



/*formulario registrar centro*/
.datos__generales input{
    padding:  6px 10px;
}

.registro__centro label,
.contacto label{

    width: 150px;
    font-size: 17px;
    display: inline-block;
}


.registro__centro select{
    padding: 5px 10px;
}



.wrapper{
    width: 1000px;
    margin: auto;
  
}

.menu__centros{
    position: relative;
    top: 151px;
}
.regresar__registrar{
    position: relative;
    top: 0;
    left: 54px;
}

.regresar__registrar a{
    text-decoration: none;
    color:  #17c0eb;
}


.fat{
    left: 63px;
}
/* right: 25px; */

}
.contenedor__centro{
    display: flow-root;
}


.colum__izquierda{
    float: left;
    margin-right: 100px;
}


.descripcion__direccion textarea{
    width: 345px;
    height: 132px;
}


.resennia label,
 .oferta__academica label{
    display: block;

}

.resennia{
    margin-top: 5px;
}


.resennia textarea{
    width: 807px;
    height: 279px;
}

.contenedor__registro{
    padding: 10px 50px;
}


.contenedor__contacto{
    width: 786px;
    /* margin-top: 26px; */
    margin: 20px auto;
}


.contacto{
    background: #f9f9f9;
    display: flow-root;
    margin-top: 41px;
}




.registro__centro{
    margin-top: 71px;
}




.formulario-cita .error_input, 
.columna__contenedor .error_input,
.datos__generales .erros_input {
    border: 1px solid red;
}


/*meus de regresar o avanzar*/

.avanzar{
    position: relative;
    left: 80%;
    bottom: 42px;
}

.regresar{
    position: relative;
    top:400px;
    left: 22px;
    
}
.avanzar a,
.regresar a{
    text-decoration: none;
}

.avanzar p,
.regresar p{
color:  #17c0eb;

}

.fa-arrow-circle-right

{
    font-size: 30px;
    color: #17c0eb;
    left: 73px;
    position: relative;
    
}


.fa-arrow-circle-left{
    font-size: 30px;
    color: #17c0eb;
    left: 20px;
    position: relative;
}
.fas:hover{
    color: #34495e
}

.fars{
    position: relative;
    left: 3px;
}
.far{
    position: relative;
    left: 37px;

}
.menu{
    position: relative;
    bottom: 50px;
    top: 500px;
}

.menu__utiles{

    position: relative;
    top: 129px;
    right: 38%;
}

.admin p{
    padding-left: 14px;

}

.fa {
    position: relative;
    left: 38px;
}
.menu_lista_de_utiles{
    position: relative;

    top: 2px;


}

.menu__registrar-utiles{
    position: relative;
    bottom: 50px;
    top: 0px;
}



.avanzar  p,
.regresar  p{
    color:  #17c0eb;
  
    }



.fa-arrow-right{
color: #17c0eb;
}

.avanzar a:hover{
    text-decoration: none;
}

.regresar a:hover{
    text-decoration: none;
}
.regresar__registrar-articulo{
    position: relative;
    top: 0px;
    left: 25%;
}

.fag{
    position: relative;
    left: 18px;
}
.avanzar__lista-utiles{
    left: 67%;
    /* top: -25px; */
    bottom: 48px;
}
    

.regresar__lista-articulos{
    position: relative;
    left: 240px;
}
.menu__registro-centro{
    position: relative;
    bottom: 50px;
    top: 0px;
}


.regresar__perfil{
    position: relative;
    bottom: 94px;
    left: 175px;
}


.admin{
    position: relative;
    top:0;
    margin-bottom: 10px;
}


.regresar__principal{
position: relative;
top:0px;
left: 100px;
}



.menu__articulos{
    position: relative;
    top:0px;
}


.admin__perfil{
    position: relative;
    left: 241px;
}

.avanzar__articulos{
    position: relative;
    left: 76%;
}

.regresar_listar{
    position: relative;
    top: 0px;
    left: 247px;
}


.fat{
    left: 40px;
    position: relative;
}

.menu__articulos{
    position: relative;
    top: 0px;
    right: 6%;
}
    

.regresar__articulo p{
  color:  #17c0eb;
}


.regresar__articulo a{
    text-decoration: none;
}
.regresar__articulo{
    position: relative;
    top:0px;
    left: 373px;
}

.fap{
    position: relative;
    left: 42px;
}

.faf{
    position: relative;
    left:10px;
}

.fad{
    position: relative;
    left: 16px; 
}


.fav {
    left: 69px;
    position: relative;
}
.avanzar__articulo{

position: relative;
left: 68%;
}


.fal{
    position: relative;
    left: 44px;
}