
 
 body{
     position: static;
 }
 
 .titulo__principal{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}


.titulo__secundario{
    color: #17c0eb;
    font-size: 21px;
    font-weight: 600;
    padding: 10px 49px;
 
}


.titulo__secundario__registro{
    padding: 10px 0px;
}

h2 {
    color: #17c0eb;
    font-size: 21px;
    font-weight: 600;
      margin-top:35px;
    margin-bottom: 35px;
}


.titulo__tablas{
    text-align: center;
    font-size: 20px;
}


.centros__aprobados{
    margin-bottom: 100px;
}
.error_input {
  background-color: rgba(255, 82, 82,0.3);
  height: 18px;
}


.bloque_filtro {
    text-align: left;
    padding: 15px;
    width: 80%;
    margin: auto;
}